body{margin: 0;}
.header{height:80px;}
h1{
	font-family: 'Shrikhand', cursive; font-size: 45px;
	text-align: center; margin: 15px;}

h2{margin: 0; font-size: 35px;}

 h3{
	font-size: 33px;
	font-family: 'Roboto';
  padding-left: 40px;}

/* Création du Chargement */
.chargement {
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  position: fixed;
  opacity: 0.7;
  inset: 0;
  z-index: 2;
  animation: delay 2s forwards;
  animation-delay: 2s;
  transform-origin: middle;
}

.loader {
  border-top: 20px solid #FF79DA;
  border-left: 20px solid #593288;
  border-right: 20px solid #592388;
  border-bottom: 20px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rotate 2s ease-in-out infinite forwards;
  margin: auto;
  position: absolute;
  inset: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes delay {
  0% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}
    

.loc{
	font-family: 'Roboto'; font-size: 22px; text-align: center;
	background-color: #E9E9E9; height: 50px; padding-top: 25px;
p{margin: 0;
} 
} 

.intro{
	font-family: 'Roboto'; font-size: 22px; text-align: center;
	font-weight: 100; background-color: #f7f6f6;
	padding: 50px 0px 50px 0px;
} 

.btn{
	padding: 20px;
	width: 260px;
	margin: auto;
	border-radius: 30px;
	background: linear-gradient(#ff79da, #9356dc);
	color: white;
	font-family: 'Roboto';
	font-weight: 400;
  font-size: 22px;
  box-shadow: 0px 5px 20px #999;
    &:hover{
      background: linear-gradient(#9356dc, #ff79da,);
    }
}

.btn2{
	padding: 20px;
	width: 260px;
	margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
	border-radius: 30px;
	background: linear-gradient(#ff79da, #9356dc);
	color: white;
	font-family: 'Roboto';
	font-weight: 400;
  font-size: 22px;
  text-align: center;
  box-shadow: 0px 5px 20px #999;
    &:hover{
      background: linear-gradient(#9356dc, #ff79da,);
    }
}


.fonctionnement {
padding:  40px;
} 

.etapes{
	margin: auto;
  margin-bottom: 30px;
	width: 500px;
	height: 80px;
	border-radius: 30px;
	background-color: #f7f6f6;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
  line-height: 80px;
	text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  i{
   padding-left: 60px;
   padding-right: 30px;
}
    &:hover{
      background-color: #F4ECFF;
    }
    &:hover > .logo{
      color: #9356DC;
    }
}


.num{

    height: 35px;
    width: 35px;
    position: absolute;
    margin: 20px 20px 0 -15px;
    border-radius: 20px;
    background: #9356DC;
    color: white;
    font-family: 'Roboto';
	  font-weight: 500;
    line-height: 35px;
    text-align: center;
  
}


.Restos {
padding:  0 40px 0 40px;
h3{
    margin: 0;
}
} 


.Restos-card {
  border-radius: 20px;
  box-shadow: 0px 5px 20px #999;
  transition: all 0.5s;
  margin: 30px 0 30px 0;
    a { /*5*/
        color: #333; 
        text-decoration: none;
      }
    &:hover{
      box-shadow: 10px 10px 40px #999;
    }
  }

.Restos-card-text {
  padding: 20px 0 0 20px; /*2*/
  box-sizing: border-box; /*3*/
  height: 115px; 
    h3{
    margin: 0;
  }
     p{
    font-family: 'Roboto';
    font-weight: 100;
      font-size: 30px;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;

  }

  }


.Restos-card-image {
  height:290px;
  position: relative;
  overflow: hidden;
  border-radius:15px 15px 0 0;
img {
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} 
}




.nouveau{
    z-index: 1;
    position: absolute;
    right: 55px;
    height: 35px;
    width: 100px;
    margin-top: 15px;
    background: #B0E1D0;
    font-family: 'Roboto';
	  font-weight: 500;
    text-align: center;
    line-height: 35px;
}

.coeur{
  z-index: 1;
  position: absolute;
  right: 80px;
  width: 50px;
  height: 50px;
  background-image: url('../images/coeur-vide.svg');
  margin-top: 325px;
  transition: all .5s;
    &:hover{
      background-image: url('../images/coeur-plein.svg');
}
}

.coeur2{
  z-index: 1;
  position: absolute;
  right: 80px;
  width: 50px;
  height: 50px;
  background-image: url('../images/coeur-vide.svg');
  margin-top: 5px;
  transition: all .5s;
    &:hover{
      background-image: url('../images/coeur-plein.svg');
}
}
/* autres page */

.fleche-retour{
  font-size: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
}

.photo-head img{
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.nom-resto{
  font-family: 'Shrikhand', cursive;
  font-size: 45px;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 165px;
  padding: 25px 0;
  background-color: white;
  display: flex;
  align-items: baseline;
  border-radius: 60px 60px 0 0;
}

.menu{
  margin: 0 30px 30px 30px;
  font-family: 'Roboto';
  h4{
    font-weight: 200;
    font-size: 25px;
    border-bottom: solid 4px #99E2D0;
    width: 60px;
  }
  .titre{
    font-weight: 500;
    font-size: 28px;
  }
  p{
    font-weight: 100;
    font-size: 25px;
    margin: 0;
  }
  .prix{
    font-weight: 600;
    font-size: 25px;
  }
  }

.plats{
  height: 60px;
  width: 95%;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px #999;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: 1s all ease-in-out;
  animation: fadeIn ease 4s; 
      &:hover{
        width: 79%;
        border-radius: 30px 0px 0 30px;
      }
      &:hover > .platsfond {
        transition: 1.5s;

        }
/*
      &:hover > .platsfond i{
      transition: 1.5s;
      transform: rotate(0deg);
      }
*/      
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.platsfond{
  position: absolute;
  right: 30px;
  bottom: -20px;
  height: 100px;
  width: 105px;
  background-color: #99E2D0;
  border-radius: 0px 30px 30px 0px;
  transition: all 2s;
i{
  position: absolute;
  z-index: -1;
  right: 45px;
  top: 35px; 
  font-size: 35px;
  color: white;
  transform: rotate(360deg);
}
}



.footer{height: 250px;
	background-color: #393838;
	color: white;
	padding: 30px 0px 0px 30px;
	font-size: 23px;
h4{
	font-family: 'Shrikhand', cursive;
	margin: 0;
}
p{
	font-family: 'Roboto';
}
i{
	font-size: 20px;
	margin-right: 15px;
}
}

